affine
aiosqlite
alembic
annotated-doc
annotated-types
anyio
asyncpg
attrs
certifi
charset-normalizer
click
cloudpickle
colorama
fastapi
filelock
fsspec
ftfy
greenlet
grpcio
h11
h2
hf-xet
hpack
httpcore
httptools
httpx
huggingface_hub
hyperframe
idna
ImageIO
Jinja2
joblib
lazy-loader
Mako
MarkupSafe
mpmath
narwhals
networkx
numpy
open_clip_torch
packaging
pillow
portalocker
protobuf
pydantic
pydantic-settings
pydantic_core
pyparsing
python-dotenv
python-multipart
pywin32
PyYAML
qdrant-client
rasterio
regex
requests
safetensors
scikit-image
scikit-learn
scipy
setuptools
shapely
SQLAlchemy
starlette
sympy
threadpoolctl
tifffile
timm
torch
torchvision
tqdm
typing-inspection
typing_extensions
urllib3
uvicorn
watchfiles
wcwidth
websockets
